- ## Always install PySpark library in your notebook first

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 5.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=56bc3531bddf50d36c158de5c0bc1792f24458ce2a77fde8a96e108a339e16a7
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/test2.csv")
df

      name   age  experience   salary
0   aayush  25.0         2.0  20000.0
1  anudeep  28.0         5.0  50000.0
2   piyush  18.0         NaN      NaN
3      NaN  27.0         4.0  60000.0
4   shreya   NaN         3.0  40000.0

In [6]:
df_spark2 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/test2.csv',header=True)

In [7]:
df_spark2.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
| aayush|  25|         2| 20000|
|anudeep|  28|         5| 50000|
| piyush|  18|      null|  null|
|   null|  27|         4| 60000|
| shreya|null|         3| 40000|
+-------+----+----------+------+

In [3]:
# Always start a spark session to work with Pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [8]:
## read the dataset
df_spark = spark.read.option('header','true').csv('/content/drive/MyDrive/Colab Notebooks/test1.csv')

In [9]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [10]:
df_spark = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/test1.csv",header=True,inferSchema=True)
df_spark.show()

+-------+---+
|   name|age|
+-------+---+
| aayush| 25|
|anudeep| 28|
| piyush| 18|
| shubhi| 27|
|shreya | 24|
+-------+---+

In [11]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_spark.head(3)

[Row(name='aayush', age=25),
 Row(name='anudeep', age=28),
 Row(name='piyush', age=18)]

In [13]:
# how do I select a column and pick all values
df_spark.select("name").show()

+-------+
|   name|
+-------+
| aayush|
|anudeep|
| piyush|
| shubhi|
|shreya |
+-------+

In [14]:
df_spark.dtypes

[('name', 'string'), ('age', 'int')]

In [15]:
# describe function similar to pandas
df_spark.describe().show()

+-------+------+------------------+
|summary|  name|               age|
+-------+------+------------------+
|  count|     5|                 5|
|   mean|  null|              24.4|
| stddev|  null|3.9115214431215892|
|    min|aayush|                18|
|    max|shubhi|                28|
+-------+------+------------------+

In [16]:
# Adding columns in dataframe
df_spark = df_spark.withColumn('Age after 2 years',df_spark['age']+2)

In [17]:
df_spark.show()

+-------+---+-----------------+
|   name|age|Age after 2 years|
+-------+---+-----------------+
| aayush| 25|               27|
|anudeep| 28|               30|
| piyush| 18|               20|
| shubhi| 27|               29|
|shreya | 24|               26|
+-------+---+-----------------+

In [18]:
# Drop the column
df_spark = df_spark.drop('Age after 2 years')

In [19]:
df_spark.show()

+-------+---+
|   name|age|
+-------+---+
| aayush| 25|
|anudeep| 28|
| piyush| 18|
| shubhi| 27|
|shreya | 24|
+-------+---+

In [20]:
# rename the column
df_spark.withColumnRenamed('Age','New age').show()

+-------+-------+
|   name|New age|
+-------+-------+
| aayush|     25|
|anudeep|     28|
| piyush|     18|
| shubhi|     27|
|shreya |     24|
+-------+-------+

# PySpark Dataframe - Handling missing values

In [21]:
df_spark2.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
| aayush|  25|         2| 20000|
|anudeep|  28|         5| 50000|
| piyush|  18|      null|  null|
|   null|  27|         4| 60000|
| shreya|null|         3| 40000|
+-------+----+----------+------+

In [22]:
# dropping
df_spark2 = df_spark2.na.drop()

In [23]:
df_spark2.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| aayush| 25|         2| 20000|
|anudeep| 28|         5| 50000|
+-------+---+----------+------+

In [24]:
df_spark2 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/test2.csv',header=True)

In [25]:
df_spark2.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
| aayush|  25|         2| 20000|
|anudeep|  28|         5| 50000|
| piyush|  18|      null|  null|
|   null|  27|         4| 60000|
| shreya|null|         3| 40000|
+-------+----+----------+------+

In [26]:
# fill na values
df_spark2.na.fill('Missing value').show()

+-------------+-------------+-------------+-------------+
|         name|          age|   experience|       salary|
+-------------+-------------+-------------+-------------+
|       aayush|           25|            2|        20000|
|      anudeep|           28|            5|        50000|
|       piyush|           18|Missing value|Missing value|
|Missing value|           27|            4|        60000|
|       shreya|Missing value|            3|        40000|
+-------------+-------------+-------------+-------------+

In [27]:
df_spark2.na.fill('Missing value',['experience','age']).show()

+-------+-------------+-------------+------+
|   name|          age|   experience|salary|
+-------+-------------+-------------+------+
| aayush|           25|            2| 20000|
|anudeep|           28|            5| 50000|
| piyush|           18|Missing value|  null|
|   null|           27|            4| 60000|
| shreya|Missing value|            3| 40000|
+-------+-------------+-------------+------+

In [28]:
df_spark2.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)
 |-- salary: string (nullable = true)

In [29]:
# to replace null values with mean - we use Imputer function

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age','experience','salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','experience','salary']]
).setStrategy("mean")
# you can also change this strategy for median or mode

In [42]:
# add imputation cols to df
imputer.fit(df_spark2).transform(df_spark2).show()

IllegalArgumentException: ignored

# Filter operations

- AND &
- OR |

In [30]:
df_spark2.filter('age>20').show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| aayush| 25|         2| 20000|
|anudeep| 28|         5| 50000|
|   null| 27|         4| 60000|
+-------+---+----------+------+

In [31]:
df_spark2.filter((df_spark2['age']>20) & (df_spark2['age']<27)).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|aayush| 25|         2| 20000|
+------+---+----------+------+

# GroupBy and Aggregate Function

To change categorical variable to encoding -- StringIndexer

Perform Multiple Linear Regression in Pyspark